.sidebar {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--color-active);
  position: fixed;
  width: var(--sidebar-width);
  min-width: 67px;
  height: 100%;
  box-sizing: border-box;
}

.head-sidebar {
  width: var(--sidebar-width);
  min-width: 67px;
  height: 10vh;
}

.sidebar-route {
  width: var(--sidebar-width);
  min-width: 67px;
  height: 80vh;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  overflow-y: scroll;
  box-sizing: border-box;
}

.sidebar-route::-webkit-scrollbar {
  display: none;
}

.btn.btn-primary.button-nav-item {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.btn.btn-primary.button-nav-item ion-icon {
  font-size: 24px;
}

.sidebar-item {
  width: calc(var(--sidebar-width) - 5px);
  min-width: 62px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 389px) and (min-width: 575px) {
}

@media screen and (min-width: 576px) {
}
