.weather-info {
  width: fit-content;
  min-width: 150px;
  height: fit-content;
  min-height: 200px;
  position: absolute;
  top: 25%;
  right: 39%;
}
@media screen and (max-width: 389px) {
  .weather-info {
    top: 60%;
    right: 30%;
  }
}

@media screen and (min-width: 389px) {
  .weather-info {
    top: 50%;
    right: 50%;
  }
}

@media screen and (min-width: 576px) {
  .weather-info {
    top: 50%;
    right: 40%;
  }
}
