.user-info-container {
  width: calc(100vw - var(--sidebar-width));
  height: 80vh;
  position: absolute;
  top: 10vh;
  text-align: center;
  overflow: hidden;
}

.user-info-table {
  width: 85% !important;
  margin-left: 20px;
}
.user-table-title {
  width: 125px;
}
