.user-info-container {
  width: calc(100vw - var(--sidebar-width));
  height: 80vh;
  position: absolute;
  top: 10vh;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.user-info-table {
  width: 85% !important;
}
.user-table-title {
  width: 150px;
}
