<form method="POST" action="">
  <div class="mb-3">
    <label for="search" class="form-label">Từ khóa</label>
    <input type="text" class="form-control" name="q">
  </div>
  <div class="mb-3">
    <label for="search" class="form-label">Mô tả</label>
    <input type="text" class="form-control" name="description">
  </div>
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>