.todo-list {
  width: calc(100vw - var(--sidebar-width));
  height: 90vh;
  position: absolute;
  top: 10vh;
  overflow-y: scroll;
}

.todo-list::-webkit-scrollbar {
  display: none;
}

.button-add-todo-item {
  position: absolute;
  right: 50px;
  top: 5px;
}

.filter-input {
  max-width: 350px;
  position: absolute;
  top: 5px;
  left: 650px;
}

.set-filter-option {
  max-width: fit-content;
}

table {
  width: calc(100vw - var(--sidebar-width));
  max-height: 100%;
  border-radius: 4px;
  position: absolute;
  top: 55px;
  box-sizing: border-box;
}

thead tr th {
  background-color: grey !important;
}

table .table-checkbox {
  width: 2vw;
}

table tr td {
  height: 46px !important;
  box-sizing: border-box;
  text-align: center;
}

input[type="checkbox"] {
  width: 16px !important;
  height: 16px !important;
}

table tr td input {
  width: 100%;
  height: fit-content;
  text-align: center;
  border: 2px solid #404040;
}
table tr td select {
  width: 100%;
  height: fit-content;
  text-align: center;
  border: 2px solid #404040;
  border-radius: 4px;
}

table tr td select:focus {
  border: 2px solid blue;
}

table .table-order {
  width: 2vw;
}

table .table-title {
  width: 10vw;
}

table .table-content {
  width: calc(
    100vw - var(--sidebar-width) - (2vw + 2vw + 10vw + 15vw + 20vw + 7vw)
  );
}

table .table-deadline {
  width: 15vw;
}

table .table-importance {
  width: 20vw;
}

td.table-modify {
  width: 7vw;
  height: 100%;
}

td.table-modify div {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: 5px;
}

.task-completed {
  background-color: chartreuse !important;
}

tfoot {
  width: calc(100vw - var(--sidebar-width));
  height: fit-content;
}
tfoot tr td {
  border: none;
  position: absolute;
  right: 30%;
  z-index: 0;
}
tfoot form {
  margin-left: 5px;
}

@media screen and (max-width: 576px) {
  .button-add-todo-item {
    position: absolute;
    top: 5px;
    right: 3vw;
  }
  .filter-input {
    max-width: 50vw;
    top: 5px;
    left: 3vw;
  }
  .set-filter-option {
    max-width: fit-content;
  }
  td.table-deadline {
    max-width: 8vw;
  }
  td.table-modify {
    width: fit-content;
    height: 100%;
  }
  td {
    word-wrap: break-word;
    white-space: normal;
  }
}
